<h1><%= @project.name %></h1>

<p><strong>Description:</strong> <%= @project.description %></p>

<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>
<%= link_to 'Back', projects_path, class: 'btn btn-primary' %>

